<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}} | FrauDB</title>
        <link rel="stylesheet" type="text/css" href="/styles/app.css" />
    </head>
    <body>
        <header>
            <h1>FrauDB</h1>
            <p>You are here: /{{route}}</p>
            <nav>
                <a href="/">Home</a>
                <a href="/what-it-is">What it is</a>
                <a href="/how-it-works">How it works</a>
                <a href="/membership">Membership</a>
                <a href="/contact-us">Contact us</a>
                <a href="https://docs.fraudb.org/" target="_blank" rel="noreferrer">Documentation</a>
            </nav>
        </header>
        <main>{{{body}}}</main>
        <footer>
            <p>
                &copy; 2022 FrauDB & Contributors.
                <a href="/information-for-law-enforcement" class="link">Information for law enforcement</a>
                |
                <a href="/privacy" class="link">Privacy Statement</a>
                |
                <a href="/terms" class="link">Terms of Use</a>
                |
                <a href="/eula" class="link">EULA</a>
                |
                <a href="/dtpm" class="link">Data Transfer & Processing Memorandum</a>
            </p>
        </footer>
    </body>
</html>