<h2>Contact us</h2>
<p>For non-members, all enquiries can be sent to any of the following email inboxes:</p>
<ul>
    <li><a href="mailto:fraudb@fraudb.org" class="link">fraudb@fraudb.org</a> &mdash; Generic, non-specific requests.</li>
    <li><a href="mailto:legal@fraudb.org" class="link">legal@fraudb.org</a> &mdash; Any legal matters relating to the site.</li>
    <li><a href="mailto:press@fraudb.org" class="link">press@fraudb.org</a> &mdash; Requests from the press.</li>
    <li><a href="mailto:law-enforcement@fraudb.org" class="link">law-enforcement@fraudb.org</a> &mdash; Requests made by law enforcement.</li>
    <li><a href="mailto:users@fraudb.org" class="link">users@fraudb.org</a> &mdash; Requests made by end users (non-members).</li>
    <li><a href="mailto:support@fraudb.org" class="link">support@fraudb.org</a> &mdash; Standard support inbox.</li>
</ul>
<p>We also have a telephone line available, +44 7700 900077, whose extensions & e.t.c. may be realised from the call-in menu.</p>
<p>Please note that all contact methods are officially only provided in <strong>English</strong>. Please assume that any operator you may reach only speaks English. If you land on someone who shares your language, we congratulate you for your luck!</p>
<h3>Membership contact</h3>
<p>If you represent a FrauDB member, please log into the members portal to access contact information for members:</p>
<a href="https://members.fraudb.org/" class="button" target="_blank" rel="noreferrer">Access members portal</a>