<h2>Membership</h2>
<p>Anyone can be a member of FrauDB, but memberships have to be applied for. If you'd like for your business/organisation to become a member, consider the following:</p>
<ul>
    <li>If you have a real-world use case for access to the database, e.g. have a website that requires background checking users, your application will likely be approved but on the grounds of your project's size.</li>
    <li>If you have data to contribute in exchange for the benefit you're receiving, your application is likely to be approved on the grounds of increasing the size of our database.</li>
</ul>
<p>Membership also comes with elevated privilege and access to the FrauDB backend itself, meaning you and your organisation gain additional responsibility when using the service. These responsibilites include:</p>
<ul>
    <li>Committing to report only as accurate information as possible.</li>
    <li>Respecting rate-limits and the limitations of the platform.</li>
    <li>Avoiding over-reporting, e.g. submitting a report for the same user more than once even if previous reports were denied.</li>
</ul>
<h3>Honorary membership</h3>
<p>Both individuals and organisations may gain honorary membership if they do not wish to partake in the listing of users or take advantage of the checking ability of the database. This type of membership is reserved for those who make significant contributions to the project, be it financially or by other means such as work hours for software development, moderation, listing reviewing & e.t.c.</p>
<p>"Members" of FrauDB own one "share" of the organisation and honorary members are no exception, the difference just being that they take part in the operation of the organisation by contributing direct work or financial assistance rather than pure data.</p>
<h3>Membership revocation</h3>
<p>While it seems odd that you can "own" something and then not own that something anymore if someone else says so, it makes a lot of sense in our case and is even practiced in the legislation of many countries. If a regular member (non-honorary) becomes inactive for over a year, making no listings and making no database queries, they are considered inactive. They will retain this inactive status for 6 months before being removed from the member list and having their share removed. This is written in the membership agreement that non-honorary members sign once they become a member.</p>
<h3>Submitting an application</h3>
<p>To finally submit your application, send an email to <a href="mailto:join@fraudb.org" class="link">join@fraudb.org</a>. Applications are processed in 5-10 business days. You will always receive an outcome, no matter what, if you do not receive a response within the specified timeframe then please allow for additional time to pass before reaching out regarding the matter again.</p>