<h2>What is FrauDB?</h2>
<p>Like mentioned on the homepage, FrauDB is a collaborative and cooperative database which collects and lists individuals engaged in both fraudulent and inconvenient/abusive activity on various web platforms.</p>
<p>As an example, if a customer of www.example.com buys a product from there but then uses that product for purposes against the provider's terms and conditions, then that provider can submit a listing request for that user by providing FrauDB with the proper context of why the user in question should be listed. Once that is approved, the <strong>personal details of the user are hashed</strong> and then entered into the database. <strong>This means that we never process or store any sensitive data</strong>, as all submitted data <strong>is hashed before it reaches our servers</strong>.</p>
<p>To learn more about how it works, visit the <a href="/how-it-works" class="link">How it works</a> page.</p>
<h2>Who can be a member?</h2>
<p>The great thing about this project is that it is a free and open source service, hosted with gracious contributions from various participating members. As such anyone can be a member, but memberships have to be applied for. If you'd like for your business/organisation to become a member, consider the following:</p>
<ul>
    <li>If you have a real-world use case for access to the database, e.g. have a website that requires background checking users, your application will likely be approved but on the grounds of your project's size.</li>
    <li>If you have data to contribute in exchange for the benefit you're receiving, your application is likely to be approved on the grounds of increasing the size of our database.</li>
</ul>
<p>These aren't requirements, but it helps to be able to show a real-world usecase for membership.</p>
<h2>Who is using this?</h2>
<p>As of now we don't have a lot of participants, but we hope that the concept and function of this project alone is enough to attract membership from all directions. Currently our member list is the following:</p>
<ul>
    <li><a href="https://www.kubbur.com/" class="link" target="_blank" rel="noreferrer">KUBBUR</a></li>
    <li><a href="https://www.northlayer.com/" class="link" target="_blank" rel="noreferrer">Northlayer</a></li>
    <li><a href="https://www.billingpanel.io/" class="link" target="_blank" rel="noreferrer">Billing Panel Limited</a></li>
    <li><a href="https://drama.gg/" class="link" target="_blank" rel="noreferrer">Drama.gg</a></li>
</ul>
<h2>Frequently Asked Questions</h2>
<ul>
    <li><strong>Can anyone submit a user report?</strong> &mdash; While user reports are usually made by members, anyone can indeed submit a report on a user if they have enough evidence of wrongdoing. Visit the <a href="https://users.fraudb.org/" class="link" target="_blank" rel="noreferrer">user portal</a> to submit a standalone report.</li>
    <li><strong>If I've been listed, can I get de-listed</strong> &mdash; Everyone deserves a 2nd chance, including wrongdoers, if you believe you've been listed by accident, need to tell your side of a story or have simply been listed for long enough to have changed your ways, you may apply for a de-listing by visiting the <a href="https://users.fraudb.org/" class="link" target="_blank" rel="noreferrer">user portal</a>.</li>
    <li><strong>Does FrauDB cost anything?</strong> &mdash; No, we are a completely free and public service.</li>
    <li><strong>Who owns FrauDB?</strong> &mdash; FrauDB is owned by its members, this means every time a new member joins they get a say in how FrauDB is run and operates. We also have honorary membership for individuals and organisations who have contributed greatly to FrauDB.</li>
    <li><strong>Is my data in FrauDB?</strong> &mdash; As all data is hashed <em>before</em> it even reaches our APIs, your data is practically speaking not in FrauDB. This is because a hash is like a one-way ticket for data, it is completely impractical to reverse a SHA256 hash. To read more about this, visit the <a href="/how-it-works" class="link">How it works</a> page.</li>
</ul>